@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text: #fff;
  --text-sub: #ccc;
  --text-action: #000;

  --bg: #444444;
  --bg-calc: #000;
  --btn-action: #a5a5a5;
  --btn-operation: #f1a33b;
  --btn-number: #333333;

  --font: "Inter", system-ui, sans-serif;

  font: 16px var(--font);
  color-scheme: only dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-color: var(--bg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  max-width: 428px;
  width: 100%;
  padding: 1rem 1rem 4rem;
  border-radius: 2rem;
  background-color: var(--bg-calc);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-time {
  text-align: center;
  font-size: 1.5rem;
}

.header-icons-container {
  display: flex;
  align-items: center;
  gap: 0.325rem;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.display {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.display-sub {
  color: var(--text-sub);
  font-size: 3rem;
}

.display-main {
  font-size: 6rem;
}

.numbers-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.875rem;
}

.btn {
  font-size: 2rem;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-action {
  background-color: var(--btn-action);
  color: var(--text-action);
}

.btn-operation {
  background-color: var(--btn-operation);
}

.btn-number {
  background-color: var(--btn-number);
}

.btn-wide {
  grid-column: span 2;
  aspect-ratio: auto;
  border-radius: 4rem;
}
